<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ config.name }} - {{ page_title }}</title>

  <meta name="description" content="{{ config.description }}">
  <meta name="keywords" content="{{ config.keywords }}">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <link rel="alternate" type="application/rss+xml" title="{{ config.name }}" href="/rss.xml">

  <link rel="stylesheet" href="/assets/css/main.css">

  <script defer type="text/javascript" src="/assets/js/turbolinks.js"></script>
  <script defer type="text/javascript" src="/assets/js/player.js"></script>
</head>
