<article class="post container" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <p class="post-meta"><time itemprop="datePublished">{{ episode.pretty_date }}</time></p>
    <h2 class="post-title" itemprop="name headline"><a href="/episodes/{{ episode.number }}.html">{{ episode.title }}</a></h2>
    <h3>{{episode.subtitle}}</h3>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{episode.rendered_body}}
    <p>
      <a href="{{episode.mp3_path}}" class="downloadLink">Download MP3 ({{episode.length_megabytes}}MB)</a> |
      <a href="" class="playLink" data-mp3-url="{{ episode.mp3_path }}" data-title="{{ episode.title }}">Listen now</a>
    </p>
  </div>
</article>
