<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pincount Podcast</title>
</head>
<body>

  <h1>Pincount Podcast</h1>

  <p>Going deep into the tech with <a href="https://twitter.com/the_accidental">Iain Wallace</a> and <a href="https://twitter.com/douglasfshearer">Douglas Shearer</a>.</p>

  {% for episode in episodes %}
    <article id="episode_{{episode.number}}">
      <h2><a href="{{episode.episode_path}}">{{episode.title}}</a></h2>
      <h3>{{episode.subtitle}}</h3>
      <time>{{episode.pretty_date}}</time>
      {{episode.rendered_body}}
      <p><a href="{{episode.mp3_path}}">Download MP3 ({{episode.length_megabytes}}MB).</a></p>
    </article>
  {% endfor %}

  <footer>
  &copy; 2016 Iain Wallace and Douglas Shearer
  </footer>

</body>
</html>
